<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Workout Friends</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="light-blue lighten-1 menu" data-target="menu" role="navigation">
    <div class="nav nav-wrapper container"><img src="img/wf-logo.png" width="200" height="232" alt="" class="logo"/>
      <a id="logo-container" href="#" class="brand-logo">Workout Friends</a>


      <ul class="right hide-on-med-and-down navbar" style="padding: 30">
        {{#if logged_in}}
        <li><a href="/account"style="font-size: 23px";>Dashboard</a></li>
        <li><a class="no-button" id="logout"style="font-size: 23px";>Logout</a></li>
        {{else}}
        <li><a href="/login" style="font-size: 23px;">Login</a></li>
        <li><a href="/register" style="font-size: 23px;">Register</a></li>
      </ul>
        {{/if}}

      <ul id="nav-mobile" class="sidenav">
        {{#if logged_in}}
        <li><a href="/account">Dashboard</a></li>
        <li><a class="no-button" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
      `{{/if}}
  </nav>


<br>
<br>
<br>

<main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
<br>
<br>
<br><br>



  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
