<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav nav-wrapper container"><img src="img/wf-logo.png" width="200" height="152" alt="" class="logo"/>
      <a id="logo-container" href="#" class="brand-logo">Workout Friends</a>
      
        {{#if logged_in}}
      <ul class="right hide-on-med-and-down navbar" style="padding: 30">
        <li><a href="#Dashboard">Dashboard</a> | </li>
        <li><a href="#Blog">Blog</a> | </li>
        <li><a href="#Account">Account</a></li>
        <li><a class="no-button" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a> | </li>
        <li><a href="/register">Register</a></li>
      </ul>
        {{/if}}

        {{#if logged_in}}
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#Dashboard">Dashboard</a> | </li>
        <li><a href="#Blog">Blog</a> | </li>
        <li><a href="#Account">Account</a></li>
        <li><a class="no-button" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a> | </li>
        <li><a href="/register">Register</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
      `{{/if}}
  </nav>

<main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <div class="page-footer orange lighten-1">
      <div class="container">
        <img src="img/wf-logo.png" width="152" height="102" alt="" class="logo"/>
      </div>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/public/js/init.js"></script>

  </body>
</html>
