<header class="header" style="padding-bottom: 50px; padding-top: 50px; height: 150px;">
<div class="page-header green lighten-1">
        <div class="caption right-align header-caption" style="padding-right: 60px;">
            <h4 class="white-text right-align headerchild1" style="font-weight: 600; font-size: 25px; padding-bottom: 10px;">{{name}}</h4>
                <i class="material-icons white-text account-circle" style="font-size: 65px; padding-right: 40px;">account_circle</i>
    </div>
  </div>
</header>

<div class="col s12 m7 right-align acount-points" style="padding-right: 30px;">
    <h2 class="header account-points" style="padding-top: 50px; padding-right: 20px;">Points</h2>
    <div class="card horizontal right">
      <div class="card-image right-align">
        <i class="material-icons yellow-text account-circle right-align" style="font-size: 60px;">star</i>
    </div>
      <div class="card-stacked right-align">
        <div class="card-content right-align">
          <h4>246</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container center" style="padding-top: 45px;">
<h1>Weekly Workout</h1>
</div>

<div class="container table">
 <table>
   <!-- Table Header -->
        <thead>
          <tr>
            <td style="font-weight: bolder; padding-left: 20px; font-size: larger;">Day of the week</th>
              <th style="font-size: larger;padding-left: 200px;">Task</th>
              <th style="font-size: larger;padding-left: 100px;"></th>
          </tr>
        </thead>
<!-- Table Contents -->
        <tbody>
          <tr>
            <td style="font-weight: bolder; padding-left: 60px;">Monday</td>
            <td><ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons red">directions_bike</i>Task A </div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" id="taska_check"/>
                  <span>Jump rope 2 sets, 5 minutes</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons green">directions_run</i>Task B</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>bench press limit, 10 reps</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons blue">directions_walk</i>Task C</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>Run 2 miles</span>
                </label>
              </li>
            </ul></td>
            <td><label>
                <input type="checkbox"/>
              </label>
            </td>
            <td>
                <a class="btn-floating btn-large cyan pulse"><i class="material-icons">group</i></a>
            </td>
          </tr>


          <tr>
            <td style="font-weight: bolder; padding-left: 60px;">Tuesday</td>
            <td><ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons red">directions_bike</i>Task A</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>2 sets of 10 squats</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons green">directions_run</i>Task B</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>2 sets of 5 pull ups</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons blue">directions_walk</i>Task C</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>3 sets of 10 pull ups</span>
                </label>
              </li>
            </ul></td>
            <td><label>
                <input type="checkbox"/>
              </label>
            </td>
            <td>
                <a class="btn-floating btn-large cyan pulse"><i class="material-icons">group</i></a>
            </td>
          </tr>

          <tr>
            <td style="font-weight: bolder; padding-left: 60px;">Wednesday</td>
            <td><ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons red">directions_bike</i>Task A</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>10 push ups</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons green">directions_run</i>Task B</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>3 sets of 10 pull ups</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons blue">directions_walk</i>Task C</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>4 reps of Sphinx pose, hold 1 minute.</span>
                </label>
              </li>
            </ul></td>
            <td><label>
                <input type="checkbox"/>
              </label>
            </td>
            <td>
                <a class="btn-floating btn-large cyan pulse"><i class="material-icons">group</i></a>
            </td>
          </tr>

          <tr>
            <td style="font-weight: bolder; padding-left: 60px;">Thursday</td>
            <td><ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons red">directions_bike</i>Task A</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>8 reps of knees to chest stretch, hold 20 seconds</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons green">directions_run</i>Task B</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>Run on treadmill 20 minutes</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons blue">directions_walk</i>Task C</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>20 minutes Cycling or biking</span>
                </label>
              </li>
            </ul></td>
            <td><label>
                <input type="checkbox"/>
              </label>
            </td>
            <td>
                <a class="btn-floating btn-large cyan pulse"><i class="material-icons">group</i></a>
            </td>
          </tr>

        <tr>
            <td style="font-weight: bolder; padding-left: 60px;">Friday</td>
            <td><ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons red">directions_bike</i>Task A</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>Jump rope 2 sets, 5 minutes</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons green">directions_run</i>Task B</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>bench press limit, 10 reps</span>
                </label>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons blue">directions_walk</i>Task C</div>
                <div class="collapsible-body"><label>
                  <input type="checkbox" />
                  <span>3 sets of 10 burpees</span>
                </label>
              </li>
            </ul></td>
            <td><label>
                <input type="checkbox"/>
              </label>
            </td>
            <td>
                <a class="btn-floating btn-large cyan pulse"><i class="material-icons">group</i></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>


     
<script src="./js/account.js">
</script>

