<div class="row">
  <div class="col-md-6">
    <h2 class="center">Login</h2>

    {{!-- <form class="form login-form">
<div class="row">
        <div class="input-field form-group col s6" style="width: 100%;">
          <i class="material-icons prefix">email</i>
          <input id="email-login" type="email" class="validate">
          <label for="email-login">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field form-group col s6" style="width: 100%;">
          <i class="material-icons prefix">key</i>
          <input id="password-login" type="password" class="validate">
          <label for="password-login">Password</label>
        </div>
  </div>

    <button class="btn btn-primary blue waves-effect form-group waves-light right" type="submit">Login
    <i class="material-icons right">send</i>
    </button>
  </form> --}}


      <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>


<script> src="./js/login.js"></script>